.App-header{
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: baseline;
  background-image: url('image2.png');
  background-size: 50% auto;

  background-repeat: no-repeat; 
}
.App-header .logo{
  display: flex;
  margin-left: 3%;
  width: 13%;
  color: #A7A1E8;
  justify-content: space-between;  
  align-items: baseline;
}

.App-header .info{
  display: flex;
  justify-content: space-between;
  width: 25%;
}

.App-header .contact{
  display: flex;
  font-size: 1.5em;
  margin-right: 1%;
  background-color: #302D50;
  height: fit-content;
  padding: 1%;
} /* need to add radius to the contact button, the curves */
.HeroText{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('image4.png'),url('image5.png');
  background-repeat: no-repeat;
  background-position: left,right;
  padding: 5%;
}
.HeroText1{
  color: gray;
  font-size: 50px;
  margin-bottom: 0;
}
.HeroText2{
  color: white;
  font-size: 3em;
  margin-bottom: 1%;
}
.HeroText3{
  color: black;
  background-color: #A79FFF;
  padding: 3%;
  border-radius: 50%;
  font-size: 3em;
  margin-bottom: 3%;
}